
/*styling for the login box on the login page*/
#loginBox{
    margin-top:15%;
    background-color:#E8990C;
    padding: 5%;
    border-radius:20%;
    border:2px solid black;
    color:black;
}

/*the welcome message on the login page*/
#loginWelcome{
    padding:10px;
}

/*formatting for the buttons on the login page*/
.logins{
    padding:10px;
    margin-top:10px;

}

/*adding space between buttons on login page*/

#loginSubmit{
    margin-right:15px;
}

/* After being logged out, the users will see a message with these styles */
#goodbye{
    margin-top: 25%;
    color:black;
    font-size:110%;
    font-weight:bolder;
}

/* top left of the nav bar */
.logo{
    height:50px;
    width: 40px;
    margin-top:-15px;
}
/* title on the navbar */
.page-title{
margin-top: 15px;
color: black;
}

.sort-by{
    color: black;
    margin-top: 20px;
    font-family: 'News Cycle', sans-serif;
    font-weight:700;
}

.myTable{
    margin-top:100px;
    color:black;
}

#add-maintenance{
    margin-top: 20px;
    color:black;
}

.mInput{
    margin:5px;
    border-radius:5%;
    width:80%;
    
}

#description{
    height:120px;
}

#all-sites{
    width:80%;
    margin:5px;
}

#allCatsMaintenance{
    width:80%;
    margin:5px;
    
}

#logout{
color:black;
}

#logout:hover{
    cursor:pointer;
    cursor:hand; 
}

